<template class="infobox-template"> 

	<div data-box-id="{{ data.id }}" class="infobox__holder infobox__holder--cross"> 

		<div class="infobox__item infobox__item--center">

			<a class="infobox__close"> @@include('./src/assets/images/icons/cross.svg') </a>
			<h2>your location <span>{{ data.title }}</span></h2> 
			
			<div class="grid__row">
				
				<div class="grid__column-6">
					<span class="infobox__icon">@@include('./src/assets/images/icons/wifi-animation.svg')</span>
					<span class="infobox__number infobox__number--wifi">{{ data.wifi }}</span>
				</div>
				
				<div class="grid__column-6">
					{% if( data.climate == 'rain' ) { %}
						<span class="infobox__icon">@@include('./src/assets/images/icons/rain-animation.svg')</span>
					{% } %}

					{% if( data.climate == 'snow' ) { %}
						<span class="infobox__icon">@@include('./src/assets/images/icons/snow-animation.svg')</span>
					{% } %}
					
					{% if( data.climate == 'cloudy' ) { %}
						<span class="infobox__icon">@@include('./src/assets/images/icons/cloudy-animation.svg')</span>
					{% } %}

					{% if( data.climate == 'sun' ) { %}
						<span class="infobox__icon infobox__icon--sun">@@include('./src/assets/images/icons/sun-animation.svg')</span>
					{% } %}
					
					<span class="infobox__number">{{ data.weather }}</span>
				</div>

			</div>	

		</div>

		<div class="infobox__item range" data-currency= "{{ data.currency }}" >
			<h2>currency</h2> 
			
			<div class="grid__row">
				
				<div class="grid__column-6">
					<span class="icon icon--yellow -pdt-xs">@@include('./src/assets/images/icons/euro.svg')</span>
				</div>
				
				<div class="grid__column-6 -mgt-sm -tx-right">
					<span class="begin-value">100,-</span>
				</div>

			</div>	

			<div class="grid__row -pdv-sm">
				
				<div class="grid__column-12">
					<input min="1" max="200" value="100" type="range">
				</div>

			</div>	

			<div class="grid__row">
				
				<div class="grid__column-6">
					{% if( data.currency == 'dollar') { %}
						<span class="icon icon--yellow -pdt-xss">@@include('./src/assets/images/icons/dollar.svg')</span>
					{% } %}

					{% if( data.currency == 'euro') { %}
						<span class="icon icon--yellow -pdt-xss">@@include('./src/assets/images/icons/dollar.svg')</span>
					{% } %}

					{% if( data.currency == 'yen' ) { %}
						<span class="icon icon--yellow -pdt-xs">@@include('./src/assets/images/icons/yen.svg')</span>
					{% } %}
					
				</div>
				
				<div class="grid__column-6 -mgt-sm -tx-right">
					<span class="end-value">2000,-</span>
				</div>

			</div>	

		</div>

		<div class="infobox__item">
				
			<div class="infobox__title">
				<span class="icon icon--yellow -pdt-xss">@@include('./src/assets/images/icons/key.svg')</span>
				<h2>cost of living p.m</h2> 
			</div>

			<h3 class="-h4">hotel</h3>
			<div class="infobox__bar hotel" data-cost="{{ data.hotel }}">
				<div class="infobox__slider"><p>50,- </p></div>
				<span>
					<div>&euro; {{ data.hotel }},-</div>
				</span>
			</div>

			<h3 class="-h4 -mgt-md">apartment</h3>
			<div class="infobox__bar apartment" data-cost="{{ data.apartment }}">
				<div class="infobox__slider"><p>50,- </p></div>
				<span>
					<div>&euro; {{ data.apartment }},-</div>
				</span>
			</div>

			<h3 class="-h4 -mgt-md">airbnb</h3>
			<div class="infobox__bar airbnb" data-cost="{{ data.airbnb }}">
				<div class="infobox__slider"><p>50,- </p></div>
				<span>
					<div>&euro; {{ data.airbnb }},-</div>
				</span>
			</div>

		</div>

		<div class="infobox__item">
				
			<div class="infobox__title">
				<span class="icon icon--yellow -pdt-xss">@@include('./src/assets/images/icons/speech.svg')</span>
				<h2>colleagues in the city</h2> 
			</div>

			<div class="grid__row -tx-center">
				
				<div class="grid__column-6">
					<h3 class="-h4">developers</h3>
					<div class="chart" data-graph-percent="{{ data.developers }}" data-graph-color="#e85453"></div>
				</div>
				
				<div class="grid__column-6">
					<h3 class="-h4">designers</h3>
					<div class="chart" data-graph-percent="{{ data.designers }}" data-graph-color="#e85453"></div>
				</div>

			</div>	

		</div>

		<div class="infobox__item infobox__item-cowork">
				
			<div class="infobox__title">
				<span class="icon icon--yellow -pdt-xs">@@include('./src/assets/images/icons/co-working.svg')</span>
				<h2>co-working space</h2> 
			</div>

			<div class="grid__row">
				
				<div class="grid__column-12">
					
					<ul class="infobox__list">
						{% data.coworking.forEach(function(cowork, key){ %}
							
						<li><a data-marker-id="{{ key }}" data-lat="{{ data.lat }}" data-lng="{{ data.lng }}">{{ cowork.name }}</a></li>	

						{% }); %}
					</ul>
				</div>

			</div>	

		</div>

		<div class="infobox__item">
				
			<div class="infobox__title">
				<span class="icon icon--yellow -pdt-xss">@@include('./src/assets/images/icons/work.svg')</span>
				<h2 class="-mgt-sm">get work</h2> 
			</div>

			<div class="grid__row">
				
				<div class="grid__column-12">
					<ul class="infobox__list">
						<li><a href="http://www.monsterboard.nl" target="_blank">monsterboard</a></li>
						<li><a href="http://jobs.smashingmagazine.com/" target="_blank">smashing magazine</a></li>
						<li><a href="http://www.thefwa.com/jobs" target="_blank">the fwa</a></li>
						<li><a href="https://jobs.github.com/" target="_blank">github</a></li>
					</ul>
				</div>

			</div>	

		</div>

	</div>

	<div class="infobox__button-holder">
		<a class="button">save destination</a>
	</div>

</template>

<template class="infobox-template-current"> 

	<div class="infobox__holder"> 

		<div class="infobox__item infobox__item--center">

			<h2>your current location <span>{{ data.title }}</span></h2> 
			
			<div class="grid__row">
				
				<div class="grid__column-6">
					<span class="infobox__icon">@@include('./src/assets/images/icons/wifi-animation.svg')</span>
					<span class="infobox__number infobox__number--wifi">{{ data.wifi }}</span>
				</div>
				
				<div class="grid__column-6">
					{% if( data.climate == 'rain' ) { %}
						<span class="infobox__icon">@@include('./src/assets/images/icons/rain-animation.svg')</span>
					{% } %}

					{% if( data.climate == 'snow' ) { %}
						<span class="infobox__icon">@@include('./src/assets/images/icons/snow-animation.svg')</span>
					{% } %}
					
					{% if( data.climate == 'cloudy' ) { %}
						<span class="infobox__icon">@@include('./src/assets/images/icons/cloudy-animation.svg')</span>
					{% } %}

					{% if( data.climate == 'sun' ) { %}
						<span class="infobox__icon infobox__icon--sun">@@include('./src/assets/images/icons/sun-animation.svg')</span>
					{% } %}
					
					<span class="infobox__number">{{ data.weather }}</span>
				</div>

			</div>	

		</div>

		<div class="infobox__item range" data-currency= "{{ data.currency }}" >
			<h2>currency</h2> 
			
			<div class="grid__row">
				
				<div class="grid__column-6">
					<span class="icon icon--yellow -pdt-xs">@@include('./src/assets/images/icons/euro.svg')</span>
				</div>
				
				<div class="grid__column-6 -mgt-sm -tx-right">
					<span class="begin-value">100,-</span>
				</div>

			</div>	

			<div class="grid__row -pdv-sm">
				
				<div class="grid__column-12">
					<input min="1" max="200" value="100" type="range">
				</div>

			</div>	

			<div class="grid__row">
				
				<div class="grid__column-6">
					{% if( data.currency == 'dollar') { %}
						<span class="icon icon--yellow -pdt-xss">@@include('./src/assets/images/icons/dollar.svg')</span>
					{% } %}

					{% if( data.currency == 'euro') { %}
						<span class="icon icon--yellow -pdt-xss">@@include('./src/assets/images/icons/dollar.svg')</span>
					{% } %}

					{% if( data.currency == 'yen' ) { %}
						<span class="icon icon--yellow -pdt-xs">@@include('./src/assets/images/icons/yen.svg')</span>
					{% } %}
					
				</div>
				
				<div class="grid__column-6 -mgt-sm -tx-right">
					<span class="end-value">2000,-</span>
				</div>

			</div>	

		</div>

		<div class="infobox__item">
				
			<div class="infobox__title">
				<span class="icon icon--yellow -pdt-xss">@@include('./src/assets/images/icons/key.svg')</span>
				<h2>cost of living p.m</h2> 
			</div>

			<h3 class="-h4">hotel</h3>
			<div class="infobox__bar hotel" data-cost="{{ data.hotel }}">
				<div class="infobox__slider"><p>50,-</p></div>
				<span>
					<div>&euro; {{ data.hotel }},-</div>
				</span>
			</div>

			<h3 class="-h4 -mgt-md">apartment</h3>
			<div class="infobox__bar apartment" data-cost="{{ data.apartment }}">
				<div class="infobox__slider"><p>50,-</p></div>
				<span>
					<div>&euro; {{ data.apartment }},-</div>
				</span>
			</div>

			<h3 class="-h4 -mgt-md">airbnb</h3>
			<div class="infobox__bar airbnb" data-cost="{{ data.airbnb }}">
				<div class="infobox__slider"><p>50,- </p></div>
				<span>
					<div>&euro; {{ data.airbnb }},-</div>
				</span>
			</div>

		</div>

		<div class="infobox__item">
				
			<div class="infobox__title">
				<span class="icon icon--yellow -pdt-xss">@@include('./src/assets/images/icons/speech.svg')</span>
				<h2>colleagues in the city</h2> 
			</div>

			<div class="grid__row -tx-center">
				
				<div class="grid__column-6">
					<h3 class="-h4">developers</h3>
					<div class="chart" data-graph-percent="{{ data.developers }}" data-graph-color="#e85453"></div>
				</div>
				
				<div class="grid__column-6">
					<h3 class="-h4">designers</h3>
					<div class="chart" data-graph-percent="{{ data.designers }}" data-graph-color="#e85453"></div>
				</div>

			</div>	

		</div>

		<div class="infobox__item infobox__item-cowork">
				
			<div class="infobox__title">
				<span class="icon icon--yellow -pdt-xs">@@include('./src/assets/images/icons/co-working.svg')</span>
				<h2>co-working space</h2> 
			</div>

			<div class="grid__row">
				
				<div class="grid__column-12">
					
					<ul class="infobox__list">
						{% data.coworking.forEach(function(cowork, key){ %}
							
							<li><a data-marker-id="{{ key }}" data-lat="{{ data.lat }}" data-lng="{{ data.lng }}">{{ cowork.name }}</a></li>	

						{% }); %}
					</ul>
				</div>

			</div>	

		</div>

		<div class="infobox__item">
				
			<div class="infobox__title">
				<span class="icon icon--yellow -pdt-xss">@@include('./src/assets/images/icons/work.svg')</span>
				<h2 class="-mgt-sm">get work</h2> 
			</div>

			<div class="grid__row">
				
				<div class="grid__column-12">
					<ul class="infobox__list">
						<li><a href="http://www.monsterboard.nl" target="_blank">monsterboard</a></li>
						<li><a href="http://jobs.smashingmagazine.com/" target="_blank">smashing magazine</a></li>
						<li><a href="http://www.thefwa.com/jobs" target="_blank">the fwa</a></li>
						<li><a href="https://jobs.github.com/" target="_blank">github</a></li>
					</ul>
				</div>

			</div>	

		</div>

	</div>

</template>