<template class="infobox-template"> 

	<div class="infobox">
		
		<div class="infobox__holder"> 

			<div class="infobox__item infobox__item--center">
				<h2>your destination <span>{{ data.title }}</span></h2> 
				
				<div class="grid__row">
					
					<div class="grid__column-6">
						<span class="infobox__icon">@@include('./src/assets/images/icons/wifi-animation.svg')</span>
						<span class="infobox__number infobox__number--wifi">100</span>
					</div>
					
					<div class="grid__column-6">
						<span class="infobox__icon">@@include('./src/assets/images/icons/rain-animation.svg')</span>
						<span class="infobox__number">{{ data.weather }}</span>
					</div>

				</div>	

			</div>

			<div class="infobox__item">
				<h2>currency</h2> 
				
				<div class="grid__row">
					
					<div class="grid__column-6">
						<span class="icon icon--yellow">@@include('./src/assets/images/icons/euro.svg')</span>
					</div>
					
					<div class="grid__column-6 -mgt-sm -tx-right">
						<span class="">100,-</span>
					</div>

				</div>	

				<div class="grid__row -pdv-sm">
					
					<div class="grid__column-12">
						<input type="range">
					</div>

				</div>	

				<div class="grid__row">
					
					<div class="grid__column-6">
						<span class="icon icon--yellow">@@include('./src/assets/images/icons/yen.svg')</span>
					</div>
					
					<div class="grid__column-6 -mgt-sm -tx-right">
						<span class="">2000,-</span>
					</div>

				</div>	

			</div>

		</div>

		<div class="infobox__button-holder">
			<a class="button">save destination</a>
		</div>

	</div>
	
</template>