$fontSize: 12px;

.color__overlay {

	position: relative;

	&:before{
	  position: absolute;
	  content:" ";
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 0;
	  background-color: rgba(217, 217, 217, 0.7);
	}

}

.overlayview {
	/* + BorderShadow*/
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	width: 200px !important;
	height: 130px !important;
	border-radius: 4px;
	font-family: "Avenir";
	font-weight: 500;
	-webkit-clip-path: polygon(10% 100%, 100% 100%, 100% 0%, 10% 0%, 10% 30%, 0% 20%, 10% 10%);
	clip-path: polygon(10% 100%, 100% 100%, 100% 0%, 10% 0%, 10% 30%, 0% 20%, 10% 10%);
	shape-outside: polygon(10% 100%, 100% 100%, 100% 0%, 10% 0%, 10% 30%, 0% 20%, 10% 10%);
	stroke-miterlimit: 10%;
	stroke: black;
	stroke-width: 3px;

	/* For the color overlay */
	* {
    	position: relative;
    	font-family: "Avenir";
	}	

	.arrow__padding {
		padding-left: 10%;
	}

	.header	{

		z-index: 100;

		display: block;
		padding-bottom: 8px;

		.title{
			padding-top: 21px;
			padding-left: 26px;
			display: inline-block;
			font-size: $fontSize;
		}

		.weather {
			display: inline-block;
			float: right;
			padding-top: 21px;
			padding-right: 25px;
		}

	}

	.button--info {
		background: $color-blue;
		padding: 5px;
	}	

	.info {
		z-index: 100;
		display: block;
		border-top: 2px solid #F2DE13;
		padding: 8px 6px;
		width: 132px;
		margin: 0 auto;

		p {
			display: block;
			font-size: $fontSize;

			span {
				display: inline-block;
			}
		}

		.disc {

		}

		.wifi__icon {
			height: 12px;
			float: right;
		}
		
		.mbs {
			/* $fontSize / 2 */
			font-size: 8px;
			text-align: top;
			float: right
		}
		
		.wifi {
			font-size: $fontSize;
			float: right;
		}


		.cost {
			font-size: $fontSize;
			float: right;
		}
		.euro__icon {
			height: 12px;
			float: right;
		}
	}
}