$fontSize: 12px;

.color__overlay {
	position: relative;

	&:before{
	  position: absolute;
	  content:" ";
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 0;
	  background-color: rgba(217, 217, 217, 0.8);
	}

}

.overlayview {
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	width: 200px !important;
	height: 130px !important;
	clip-path: polygon(10% 100%, 100% 100%, 100% 0%, 10% 0%, 10% 30%, 0% 20%, 10% 10%);
	-webkit-clip-path: polygon(10% 100%, 100% 100%, 100% 0%, 10% 0%, 10% 30%, 0% 20%, 10% 10%);
	box-shadow: 4px 2px 4px rgba(0, 0, 0, 50);
	letter-spacing: 1.52px;
	font-weight: 600;

	/* For the color overlay */
	* {
    	position: relative;
    	font-family: $font-family-karla;
	}	

	.arrow__padding {
		padding-left: 10%;
	}

	.header	{
		z-index: 100;
		display: block;
		padding-bottom: 3px;

		.title{
			display: inline-block;
			padding-top: 17px;
			padding-left: 29px;
			padding-right: 5px;
			
			font-size: $fontSize;
			font-weight: 600;
		}

		.weather {
			position: absolute;
			padding-right: 25px;
			padding-top: 10px;
			max-height: 50px;
			/*right: 5px;*/ /* 0 om hem rechts uit te lijnen, maar dan raakt hij in de knoop met het kruis */
			vertical-align: bottom;
			
		}
		.button--cross {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 500;

			img {
				padding: 7px;
			}
			&:hover {
				cursor: pointer;
			}
		}

	}

	.button--info {
		display: block;
		width: 130px;
		height: 20px;
		margin: 0 auto;
		margin-top: 3px;

		color: #fff;
		text-align: center;
		border-radius: 4px;
		text-transform: uppercase;
		font-weight: 600;
		line-height: 21px;
		
		background: $color-blue;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 50);
	}	

	.info {
		display: block;
		width: 132px;
		padding: 9px 6px;
		margin: 0 auto;
		z-index: 100;
		border-top: 2px solid #F2DE13;

		p {
			display: block;
			font-weight: 600;
			font-size: 10px;

			&:last-of-type {
				padding-top: 8px;
			}
			span {
				display: inline-block;
				font-weight: 600;
			}
		}
		
		.mbs {
			font-size: 7px;
			text-align: top;
			float: right;
			letter-spacing: 0.2px;
		}
		.wifi, 
		.cost {
			font-size: $fontSize;
			float: right;
			padding-left: 5px;
			padding-right: 0px;
		}
		.cost {
			padding-left: 2px;
		}
		.euro__icon, 
		.wifi__icon {
			height: 12px;
			float: right;
		}
	}
}