<template class="overlayviewTemp">
	<section class="overlayview color__overlay" style="background-image: url({{ data.img }})">
		<div class="header">
			<span class="button--cross"> <img src="../assets/images/icons/cross.svg" alt=""> </span>
			<h1 class="title"> {{ data.title }} </h1>

			{% if( data.climate == 'rain' ) { %}
				<img class="weather" src="../assets/images/icons/rain.svg">
			{% } %}

			{% if( data.climate == 'snow' ) { %}
				<img class="weather" src="../assets/images/icons/snow.svg">
			{% } %}
			
			{% if( data.climate == 'cloudy' ) { %}
				<img class="weather" src="../assets/images/icons/cloud.svg">
			{% } %}

			{% if( data.climate == 'sun' ) { %}
				<img class="weather" src="../assets/images/icons/sun.svg">
			{% } %}
		</div>		

		<div class="info">
			<p><span class="disc">WIFI</span> <span class="mbs">mbps</span> <span class="wifi">{{ data.wifi }}</span><img src="../assets/images/icons/wifi-sm.svg" class="wifi__icon"></p>
			<p><span class="disc">COST P.M.</span> <span class="cost">{{ data.cost }}</span><img src="../assets/images/icons/euro-sm.svg" class="euro__icon"></p>
		</div>
		<a class="button--info">open window</a>
	</section>	
</template>


<template class="overlayviewTempSmall">
	<section class="overlayviewSmall">
		<h1 class="title"> {{ data }} </h1>
	</section>	
</template>

<template class="overlayviewTempCo">
	<section class="overlayviewCo">
		<div class="header">
			<span class="button--cross"> <img src="../assets/images/icons/cross.svg" alt=""> </span>
			<h1 class="title"> {{ data.name }} </h1>
		</div>
		<div class="content">
			<p class="km"><img src="../assets/images/circleCurrentLarge.svg" class="center__icon"> {{ data.distance }} km</p>
			<p class="pd"><img src="../assets/images/icons/euro-sm.svg" class="euro__icon"> {{ data.cost }} p.d.</p>
		</div>
	</section>	
</template>







